<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
<head>
  {% include "partials/head" %}
  <link rel="stylesheet" href="/css/main.css">

  {% comment %} {{ partial "docs/inject/head" . }} {% endcomment %}
</head>
<body>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {% comment %} {{ template "menu" . }} <!-- Left menu Content --> {% endcomment %}
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {% comment %} {{ template "header" . }} <!-- Mobile layout header --> {% endcomment %}
      </header>

      {% comment %} {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }} {% endcomment %}

      <footer class="book-footer">
        {% comment %} {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }} {% endcomment %}
      </footer>

      {% comment %} {{ template "comments" . }} <!-- Comments block --> {% endcomment %}

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {% comment %} {{ if default true (default .Site.Params.BookToC .Params.BookToC) }} {% endcomment %}
    <aside class="book-toc">
      <div class="book-toc-content">
        {% comment %} {{ template "toc" . }} <!-- Table of Contents --> {% endcomment %}
      </div>
    </aside>
    {% comment %} {{ end }} {% endcomment %}
  </main>

  {% comment %} {{ partial "docs/inject/body" . }} {% endcomment %}
</body>
</html>

{% comment %} 
{% assign menu = 'partials/menu.liquid' %}
{% include  menu %}
 {% endcomment %}


{% comment %} 
{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown book-article">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }} {% endcomment %}
