{% for post in posts %}
  <article class="markdown book-post">
    <h2>
      <a href="{{ post.slug | articleUrl }}">{{ post.title }}</a>
    </h2>
    {% comment %} {{ partial "docs/post-meta" . }} {% endcomment %}
    {% include 'partials/post-meta',img:img %}
    <p>
      {{ post.excerpt | strip_html | truncate: 150 }}
    </p>
    {% comment %} <a href="{{ post.slug | articleUrl }}">...</a> {% endcomment %}
  </article>
{% endfor %}