<div class="flex flex-wrap justify-between">
  {% if tags.first != true %}
    {% if pagination.href.previous %}
    <a href="{{ pagination.previousPageHref | absoluteUrl }}" class="flex align-center float-left book-icon">
      <img src="{{ '/assets/svg/backward.svg' | absoluteUrl | cacheBust }}" alt="Previous" title="{{ partial "docs/title" . }}" />
      <span>{{ pagination.page.previous.title }}</span>
    </a>
    {% endif %}
  {% endif %}
    
  {% if tags.last  != true  %}
    {% if pagination.href.next %}
    <a href="{{ pagination.nextPageHref | absoluteUrl }}" class="flex align-center float-right book-icon">
      <span>{{ pagination.page.next.title }}</span>
      <img src="{{ '/assets/svg/forward.svg' | absoluteUrl | cacheBust }}" alt="Next" title="{{ partial "docs/title" . }}" />
    </a>
    {% endif %}
  {% endif %}
</div>
