{% comment %} {{ with .Date }}
  <h5>{{ partial "docs/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) }}</h5>
{{ end }} {% endcomment %}


<h5>{{ post.published_at | htmlDate }}</h5>

{% comment %} 
{{ range $taxonomy, $_ := .Site.Taxonomies }}
  {{ with $terms := $.GetTerms $taxonomy }}
  <div>
    {{ range $n, $term := $terms }}{{ if $n }}, {{ end }}
      <a href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
    {{- end }}
  </div>
  {{ end }}
{{ end }}

{{ if .Params.image }}
<p>
  {{ with .Resources.GetMatch .Params.image }}
    <img src={{ .RelPermalink }} />
  {{ else }}
    <img src={{ .Params.image | relURL }} />
  {{ end }}
</p>
{{ end }} {% endcomment %}


{% if post.tags %}
  <div>
    {% for tag in post.tags %}
      {% if tag.visibility == "public" %}
        <a href="{{ tag.slug | articleCategoryUrl }}">{{ tag.name }}</a>
          ,
      {% endif %}
    {% endfor %}
  </div>
{% endif %}


{% if img and post.feature_image %}
<p>
    <img src={{ post.feature_image }} />
</p>
{% endif %}