---
  permalink: /archives/
---
{% layout "layouts/base" %}

{% block header %}{% include 'partials/header',title: "归档" %}{% endblock %}

{% block content %}

<div class="markdown book-article">
    <h1>归档</h1>
    <div>
        {% assign groupdata = collections.posts | groupbydate %}
        {% for post in groupdata %}
                <h2>{{post.year}}</h2>
                {% for month in post.data %}
                    <h3>{{ month.month | usMonth }} / {{ month.month }}</h3>
                    {% if month.data %}
                        <ul>
                            {% for monthdata in month.data %}
                                <li>
                                    <div>
                                        <a href="{{monthdata.slug | articleUrl }}">
                                            {{monthdata.title}}
                                        </a>
                                        <span class="float-right">{{monthdata.published_at | htmlDate:'dd号'}}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block pagination %}{% include 'partials/pagination' %}{% endblock %}

{% block toc %}{% include 'partials/toc-tagloop' %}{% endblock %}

{% block h-toc %}
<aside class="hidden clearfix">

{% include 'partials/toc-tagloop' %}

</aside>
{% endblock %}

