---
  permalink: /links/index.html
---
{% layout "layouts/base" %}


{% block head %}{% include 'partials/head',title:post.title %}{% endblock %}

{% block header %}{% include 'partials/header',title:post.title %}{% endblock %}


{% block content %}
<article class="markdown book-article">
  <h2 class="book-title">
    我关注的博主们
  </h2>
  <div class="book-columns flex flex-wrap">
  {% for item in collections.feeds %}
    <div class="flex-even markdown-inner">
      <h3 class="ellipsis"><a href="{{item.feed.site_url}}" target="_blank">{{item.feed.title}}</a></h3>
      <div><span>{{ item.published_at | htmlDate   }}</span></div>
      <div class="ellipsis"><a href="{{item.url}}" target="_blank">{{item.title}}</a></div>
    </div> 
  {% endfor %}
  </div>
</div>
{% endblock %}


{% block footer %}
{% include 'partials/footer',post:post %}
{% endblock %}

{% comment %} {% block comments %}
{% include 'partials/comment' %}
{% endblock %} {% endcomment %}



{% block toc %}{% include 'partials/toc-tagloop' %}{% endblock %}

{% block h-toc %}
<aside class="hidden clearfix">

{% include 'partials/toc-tagloop' %}

</aside>
{% endblock %}
