---
  permalink: /memos/index.html
---
{% layout "layouts/base" %}


{% block head %}{% include 'partials/head',title:post.title %}{% endblock %}

{% block header %}{% include 'partials/header',title:post.title %}{% endblock %}


{% block content %}
<div class="markdown book-article">
    <div class="memo-header" style="background-image: url({{collections.authors[0].cover_image}});">
        <div class="memo-info">
            <div class="flex align-center">
                <span class="memo-title">{{collections.authors[0].name}}</span>
                <div class="memo-avartar">
                    <img class="" src="{{collections.authors[0].profile_image}}" data-sizes="auto" >
                </div>
            </div>
            <div class="memo-desc">纵使生活有千般不如意，也不要自暴自弃！</div>
        </div>

    </div>


    <div  x-data="memos" x-init="url='{{memos.url}}';limit={{memos.limit}};offset={{memos.offset}};getMemoss();">
        <template x-for="item in data">
        <div class="atk-comment">
            <div class="atk-avatar"><a target="_blank" rel="noreferrer noopener nofollow" href="#"><img
                        src="{{collections.authors[0].profile_image}}"></a></div>
            <div class="atk-main">
                {% comment %} <div class="atk-header">
                    <span class="atk-item atk-nick"><a target="_blank" rel="noreferrer noopener nofollow"
                            href="#">1900</a></span>
                    <span class="atk-badge-wrap"><span class="atk-badge"
                            style="background-color: rgb(0, 131, 255);">Admin</span></span>
                    <span class="atk-item atk-date" :data-atk-comment-date="item.createdTs"></span>
                </div> {% endcomment %}
                <div class="atk-body">
                    <div class="atk-content" >
                        <div x-html="item.content" x-on:load="console.log($el.clientHeight+$el.scrollHeight)">我之前用的所有主题都是单栏，这个主题打破了我的习惯</div>
                        <div class="resource-wrapper">
                            <div class="images-wrapper my-2" view-image="">
                                <template x-for="img in item.resourceList">
                                <div class="memo-resource w-100"><img class="lazyload  medium-zoom-image" x-bind:src="img.externalLink" x-bind:data-zoom="img.externalLink" data-loaded="true"></div>
                                </template>
                            </div>
                        </div>
                        <div x-html="item.tagArr"></div>
                    </div>
                </div>
                {% comment %} <div class="atk-footer">
                    <div class="atk-actions"><span class="atk-common-action-btn">赞同 (0)</span><span>回复</span><span
                            class="atk-common-action-btn" atk-only-admin-show="">折叠</span><span
                            class="atk-common-action-btn" atk-only-admin-show="">已审</span><span
                            class="atk-common-action-btn" atk-only-admin-show="">置顶</span><span
                            class="atk-common-action-btn" atk-only-admin-show="">编辑</span><span
                            class="atk-common-action-btn" atk-only-admin-show="">删除</span></div>
                </div> {% endcomment %}
            </div>
        </div>
        </template>
        <div class="btn-more flex flex-wrap justify-center">
            <a href="javascript:void" class="book-btn" @click="loadmore();$nextTick(initZoom())">
            加载更多
            </a>
        </div>

    </div>

</div>
{% endblock %}


{% block footer %}
{% include 'partials/footer',post:post %}
{% endblock %}

{% comment %} {% block comments %}
{% include 'partials/comment' %}
{% endblock %} {% endcomment %}



{% block toc %}{% include 'partials/toc-tagloop' %}{% endblock %}

{% block h-toc %}
<aside class="hidden clearfix">

{% include 'partials/toc-tagloop' %}

</aside>
{% endblock %}
